*  {
    box-sizing: border-box;
}

nav {
    background-color: white;
}

body {
    font-family: sans-serif;
    background-color: ghostwhite;
}


p {
    display: inline-block;
    color: rgb(6, 27, 50);
    font-weight: 850;
    font-size: xx-large;
    vertical-align: middle;

}

div {
    align-items: center;
}

img{
vertical-align: middle;

}
main{
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    background-color: white;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
}


/* Creazione pulsanti */

.button-1 {
    background-color: rgb(71, 173, 241);
    color: white;
    border: 1px solid rgb(71, 173, 241);
    border-radius: 5px;
    padding: 5px 12px;
    font-size: 11px;
}

.button-2 {
    background-color: white;
    color: grey;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px 12px;
    font-size: 11px;

}

hr {
    color: lightgray;
}

/* Creazioni 'to do/not to do*/

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

/* cerchio con 'V'  */
.v-verde{
            width: 15px;
            height: 15px;
            border: 1px solid green;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 11px;
            color: green;
            margin-right: 15px;
            

}

/* cerchio con 'X' */

.x-rossa{
    width: 15px;
    height: 15px;
    border: 1px solid red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    color: red;
    margin-right: 15px;

}

/* stile bottoni laterali to-do */
.editorial, .websites, .sales, .mobile, .recruiting, .q1goals {

    border: 1px solid;
    border-radius: 25px;
    padding: 5px 10px;
    font-size: 9px;
    margin-left: 10px;
    color: white;

}

.editorial{
    background-color: rgb(71, 173, 241);

}

.mobile{
    background-color: orange;
}

.q1goals{
    background-color: purple;

}

.recruiting{
    background-color: green;
}

.websites {
    background-color: plum;
}

.sales {
    background-color: greenyellow;
}