*  {
    box-sizing: border-box;
}

/*
nav {
} 
da fixare



main{
    width: 100%;
    padding: 20px;

}
*/

/* Creazione pulsanti */

.button-1 {
    background-color: rgb(71, 173, 241);
    color: white;
    border: 1px solid rgb(71, 173, 241);
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
}

.button-2 {
    background-color: white;
    color: grey;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;

}

hr {
    color: grey;
}

/* Creazioni 'to do/not to do*/

.v-verde{
            width: 30px;
            height: 30px;
            border: 2px solid green;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            color: green;
            
            

}

.x-rossa{
    width: 30px;
    height: 30px;
    border: 2px solid red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: red;

}
